body {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #161616;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
    margin: auto;
}

* {
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li{
    white-space: nowrap;
}

header{
    background: #161616;
}

.fixedNav {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 10;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    opacity: 1;
}

.fixedNav h1{
    color:black;
}

.fixedNav a{
    color:black;
}

#topNav { 
    display: flex;
    justify-content: space-between;
    height: 44px;
    width: 60%;
    margin: auto;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    font-size: 12px;
}

#topNav ul{
    display: flex;
    padding-left: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    list-style: none;
}

#bottomNav { 
    height: 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;
    align-self: stretch;
    box-sizing: border-box;
    transition: top 0.3s ease;
    font-size: 12px;
}

#bottomNav ul{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 2rem;
    list-style: none;
    width: 50%;
}

#navContainer {
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;

}